* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: serif;
  font-size: 15px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 32px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px;
  border-style: none;
  border-color: #fff;
}
table img {
  vertical-align: middle;
}
canvas {
  width: 100%;
}

#tagline {
  font-size: 115%;
  font-weight: bold;
  animation: colorRotate 3s infinite alternate ease-in-out;
}
@keyframes colorRotate {
  0% {
    color: #506dff;
  }
  100% {
    color: #96ff03;
  }
}
