<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lot Rossmark</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="180x180"
      href="assets/favicon180.png"
    />
  </head>
  <body>
    <div
      id="logocontainer"
      style="width: 100%; height: 100px; overflow: hidden; position: relative"
    >
      <img src="assets/lot-logo3.gif" alt="Lot Rossmark" id="logo" />
    </div>
    <p id="tagline">Lot Rossmark is filmmonteur, werkzaam in Amsterdam, Nederland.</p>
    <script src="assets/logo-anim.js"></script>


    {{ content }}

    <p>
      <div id="sfcnwc9lw6me34jd2nlcnla7dwa6zh9myp5"></div>
<script type="text/javascript" src="https://counter1.optistats.ovh/private/counter.js?c=nwc9lw6me34jd2nlcnla7dwa6zh9myp5&down=async" async></script>
<noscript><a href="https://www.freecounterstat.com" title="free page counter"><img src="https://counter1.optistats.ovh/private/freecounterstat.php?c=nwc9lw6me34jd2nlcnla7dwa6zh9myp5" border="0" title="free page counter" alt="free page counter"></a></noscript>

    </p>
    <footer>&copy; 1998 - {{ "now" | date: "%Y" }} Lot Rossmark</footer>
  </body>
</html>
